
.logo-cloud{
    width: 16em;
    height: 12em;
    background-size: 16em;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://i.imgur.com/LWdCDCP.png');
}

@media screen and (max-width: 800px){
    .mobile{
        width: 10em;
        background-size: 12em;
    }
}