hr{
    width: 9%;
    position: absolute;
    border-top: solid 1px var(--color_01);
}
.line-00, .line-01{
    left: 0em;
}
.line-00{
    top: 5.5em;
}
.line-01{
    top: 12.5em;
}
.line-02, .line-03{
    right: 0em;
}
.line-02{
    top:  7.5em;
}
.line-03{
    top:  14.5em;
}
@media screen and (max-width: 800px){
    .line-mobile{
       width: 18%;
    }
    .line-00-mobile{
        top: 3em;
    }
    .line-01-mobile{
        top: 10.2em;
    }
    .line-02-mobile{
        top: 6em;
        width: 8%;
    }
    .line-03-mobile{
        top: 10.5em;
    }
}