.nav{
    height: 8%;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 1px var(--color_01);
}
.nav > a, span{
    font-size: 1em;
    align-items: center;
    color: var( --color_02);
}
@media screen and (max-width: 800px){
    .nav-mobile > a,span{
        font-size: 0.7em;
    }
}